*{
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1{
    font-size: 3.6rem;
}

p {
    font-size: 1.6rem;
}


.marcador{
    grid-column: 1/5;
    text-transform: uppercase;
}

.contenedor-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 200px);
    background-color: lightgrey;
    gap:10px;
    width: 70%;
    margin: auto;
}

.carta {
    text-align: center;
    background-image: url(img/cara-trasera.jpg);
    background-size: cover;
}

.carta__imagen {
    display: none;
    width: 90%;
}

